<!DOCTYPE html>
<html lang="es">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>{{ page.titulo }}</title>

    <!-- Bootstrap core CSS -->
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom fonts for this template -->
    <link href="https://fonts.googleapis.com/css?family=Raleway:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Lora:400,400i,700,700i" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="css/business-casual.min.css" rel="stylesheet">
	<style>
	body{
	  background: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 23, 15, 0.65))), url("{{ site.imagen-fondo }}");
	  background: linear-gradient(rgba(47, 23, 15, 0.65)), url("{{ site.imagen-fondo }}");
	  background-attachment: fixed;
	  background-position: center;
	  background-size: cover;
	}
	</style>

  </head>

  <body>

    <h1 class="site-heading text-center text-white d-none d-lg-block">
      <span class="site-heading-upper text-primary mb-3">{{ site.supertitulo }}</span>
      <span class="site-heading-lower">{{ site.titulo }}</span>
    </h1>

	{% include menu.html %}

    <section class="page-section clearfix">
      <div class="container">
        <div class="intro">
          <img class="intro-img img-fluid mb-3 mb-lg-0 rounded" src="{{ page.imagen-logo }}" alt="">
          <div class="intro-text left-0 text-center bg-faded p-5 rounded">
            <h2 class="section-heading mb-4">
              <span class="section-heading-upper">{{ page.entrada-titulo }}</span>
              <span class="section-heading-lower">{{ page.entrada-frase }}</span>
            </h2>
            <p class="mb-3">{{ page.entrada-contenido-linea1 }}<br>{{page.entrada-contenido-linea2}}
            </p>
            <div class="intro-button mx-auto">
              <a class="btn btn-primary btn-xl" href="tel:{{ site.telefono }}">{{ page.entrada-texto-boton }}</a>
            </div>
          </div>
        </div>
      </div>
    </section>

<a name="servicios"/>
{% assign servicios_ordenados = site.servicios | sort:"posicion" %}
{% for servicio in servicios_ordenados %}
{% assign impar = servicio.posicion | modulo:2 %}
    <section class="page-section">
      <div class="container">
        <div class="product-item">
          <div class="product-item-title d-flex">
            <div class="bg-faded p-5 d-flex m{% if impar == 1 %}l{% else %}r{% endif %}-auto rounded">
              <h2 class="section-heading mb-0">
                <span class="section-heading-upper">{{ servicio.supertitulo }}</span>
                <span class="section-heading-lower">{{ servicio.titulo }}</span>
              </h2>
            </div>
          </div>
          <img class="product-item-img mx-auto d-flex rounded img-fluid mb-3 mb-lg-0" src="{{ servicio.imagen }}" alt="">
          <div class="product-item-description d-flex mr-auto">
            <div class="bg-faded p-5 rounded">
              <p class="mb-0">
				{{ servicio.content }}
			  </p>
            </div>
			</div>
        </div>
      </div>
    </section>
{% endfor %}
	
    <footer class="footer text-faded text-center py-5">
      <div class="container">
        <p class="m-0 small">Copyright &copy; {{ site.copyright }}</p>
      </div>
    </footer>

    <!-- Bootstrap core JavaScript -->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  </body>

</html>
